<%- include('../partials/head') %>
<%- include('../partials/header') %>

<div class="container">
  <h1>Carrito de Compras</h1>
  <div class="cart-items"></div>
  <div class="cart-actions">
    <button class="buy">Comprar</button>
    <button class="empty-cart">Vaciar carrito</button>
  </div>
</div>

<%- include('../partials/footer') %>

<!-- Incluimos el archivo scripts.js aquí -->
<script src="/js/scripts.js"></script>