<%- include('../partials/head') %>
<%- include('../partials/header') %>

<h1>Crear producto</h1>
<form action="/products/create" method="POST">
  <label>Nombre:</label>
  <input type="text" name="name" required>

  <label>Descripción:</label>
  <textarea name="description" required></textarea>

  <label>Precio:</label>
  <input type="number" name="price" required>

  <button type="submit">Crear producto</button>
</form>

<%- include('../partials/footer') %>
