/* Estilos del contenedor principal de detalle del producto */
.product-detail {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  /* Estilo del nombre del producto */
  .product-name {
    font-size: 2.5em;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  
  /* Estilo del contenedor de información del producto */
  .product-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* Estilo de la imagen del producto */
  .product-image {
    width: 300px; /* Ajustar el tamaño de la imagen */
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  /* Estilo del texto de la descripción */
  .product-description {
    font-size: 1.2em;
    color: #555;
    margin-bottom: 20px;
    line-height: 1.5;
  }
  
  /* Estilo del precio del producto */
  .product-price {
    font-size: 1.8em;
    font-weight: bold;
    color: #28a745;
    margin-bottom: 20px;
  }
  
  /* Estilo del botón de editar producto */
  .edit-product-btn {
    background-color: #007bff; /* Color azul */
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.2em;
    transition: background-color 0.3s ease;
  }
  
  .edit-product-btn:hover {
    background-color: #0056b3; /* Color más oscuro en hover */
  }
  
  .edit-product-btn:active {
    background-color: #004085; /* Color aún más oscuro al hacer clic */
  }
  