<%- include('./partials/head') %>
<%- include('./partials/header') %>

<div class="container">
  <h1>Bienvenido a nuestra tienda</h1>

  <!-- Carrusel de imágenes -->
  <div class="carousel">
    <div class="carousel-slides">
      <img src="/images/oferta1lapto.jpg" alt="Banner 1">
      <img src="/images/oferta2lapto.png" alt="Banner 2">
      <img src="/images/oferta3lapto.jpg" alt="Banner 3">
    </div>
  </div>

  <!-- Botón para ver productos -->
  <a href="/products" class="btn-primary">Ver productos</a>
</div>

<%- include('./partials/footer') %>
