<%- include('./partials/head') %>
<%- include('./partials/header') %>

<div class="container">
  <h1>Bienvenido a MiTienda</h1>

  <div class="auth-buttons">
    <% if (req.session && req.session.user) { %>
      <p>¡Hola, <%= req.session.user.firstName %>!</p>
      <a href="/users/logout" class="btn">Cerrar sesión</a>
    <% } else { %>
      <a href="/users/login" class="btn">Iniciar sesión</a>
      <a href="/users/register" class="btn">Registrar</a>
    <% } %>
  </div>

  <!-- Carrusel de imágenes -->
  <div class="carousel">
    <div class="carousel-slides">
      <img src="/images/oferta1lapto.jpg" alt="Banner 1">
      <img src="/images/oferta2lapto.png" alt="Banner 2">
      <img src="/images/oferta3lapto.jpg" alt="Banner 3">
    </div>
  </div>

  <!-- Botón para ver productos -->
  <a href="/products" class="btn-primary">Ver productos</a>
</div>

<%- include('./partials/footer') %>

