<header>
  <nav>
    <a href="/" class="logo">MiTienda</a>
    <ul id="menu">
      <li><a href="/">Inicio</a></li>
      <li><a href="/products">Productos</a></li>
      <li><a href="/users/login" class="btn-primary">Iniciar sesión</a></li>
    </ul>
    <span class="menu-icon" onclick="toggleMenu()">&#9776;</span>
  </nav>
</header>
